body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
background: linear-gradient(to bottom right, rgb(4, 7, 17) 0%, rgba(74, 78, 78, 0.897)100%) ;
background-position: center;
height: 100vh;
background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
